<%- include('partials/header') %>
<div class="container">

    <nav>
        <p>Hi, <%= user.name %> (Admin)</p>
        
    </nav>

    <hr>

    <h1>Admin Dashboard</h1>
    <p>Manage sports, view reports, and oversee all sessions.</p>

    <div>
        <h2>Admin Tools</h2>
        <ul>
            <li><a href="/admin/sports">Manage Sports</a></li>
        </ul>
    </div>
    
    <hr>

    <a href="/auth/logout">Logout</a>

</div>

<%- include('partials/footer') %>

<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: antiquewhite;
    }
</style>